* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #bebda3;
}

.container {
    display: flex;
    flex-grow: 1;
    margin: 2em 0;
}

.settings {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    margin: 0 1em;
    border: 1;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    background-color: antiquewhite;
}

.board-container {
    display: flex;
    padding: 2em;

    margin: 0 1em 0 0;

    border: 1;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: antiquewhite;

    position: relative;
}

#board {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#start-button {
    margin: 1em 6em;
    padding: 1em;
    border-radius: 1em;
}

.input-box {
    display: flex;
    margin: 1em;
    padding: 0;
    position: relative;
}


h1, h2 {
    margin: 0.4em;
}

h1 {
    font-size: 3em;
}

input {
    width: 3em;
    border-radius: 0.5em;
}

label {
    position: absolute;
    top: -1em;
}

.rules {
    text-align: left;
    padding: 1em;
}

span {
    position: absolute;
    top: 1em;
}


.local-score {
    left: 15em;
}